body{
	width:90%;
	margin: 2em auto;
	
}

.header, .footer{ 
	text-align: center;
}

.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f88; }
.inf { background-color: #8f8; }
.res { background-color: #ff0; }